	/*Text in input fields*/
	input.text { 
	border: 1px #555555 solid; 
	font: bold 11px Arial, Helvetica, Verdana, sans-serif;
	color: ivory; background: #7777ff; 
	} 
	
	.logindropdown{
	background-color: #ffffff;
	font-size: 10px;
	font-family: Arial;
	}
	/*Off focus of input fields*/
	.offbox { 
	width: 12px; 
	height: 10px; 
	border: 6px #a07c40 outset; 
	background: darkgray; 
	filter: invert; 
	} 
	/*On focus of input fields*/
	.onbox { 
	width: 12px; 
	height: 10px; 
	border: 6px #88a5ff inset; 
	background: darkgray; 
	} 
	.login{
	background-color: #D38B2E;
	}
	.levelOne{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: #ffffff;
	background-color: #666666;
	padding : 3;
	}
	.levelOneBold{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: #000000;
	font-weight : bold;
	background-color: #999999;
	padding : 3;
	}
	.levelTwo{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: #000000;
	background-color: #ebebeb;
	padding : 3;
	}
	.levelTwoBold{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: #000000;
	font-weight : bold;
	background-color: #ebebeb;
	padding : 3;
	}
	.levelThree{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: #000000;
	background-color: #ffffff;
	padding : 3;
	}
	.tdRedBold{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: #ffffff;
	font-weight : bold;
	background-color: #c60042;
	padding : 3;
	}
	.hairline{
	background-color: #ababab;
	}
	.tableMain{
	background-color: #ebebeb;
	}
	.outboundRecHead{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: #ffffff;
	font-weight : bold;
	}
	.outbound1{
	padding: 0;
	font-family: Arial;
	font-size: 10px;
	color: #666666;
	}
	.outbound1bold{
	padding: 0;
	font-family: Arial;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: #666666;
	}
	.outbound2{
	font: Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	color: White;
	}
	.content{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: #333333;
	}
	/*Main header in content*/
	.contentHeader{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color: #424800;
	font-weight : bold;
	}
	/*Sub header in content*/
	.contentSubHeader{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	}
	/*large font homepage blurb*/
	.blurbheader{
	font-family : Arial;
	font-size : 12px;
	font-weight : bold;
	color : #301f65;
	}
	/*Bold font in content*/
	.contentBold{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: #333333;
	font-weight : bold;
	}
	/*Small font in content*/
	.contentSmall {
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	color: #333333;
	}
	/*White font in content*/
	.contentWhite{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: #ffffff;
	}
	/*Header in content table*/
	.contentTableHeader{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8px;
	color: #E6912C;
	}
	/*Small font in content table*/
	.contentTableSmall{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	}
	/*White font in content table*/
	.contentTableWhite{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #ffffff;
	font-weight : bold;
	}
	/*Black font in content table*/
	.contentTableBlack{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #000000;
	}
	.topText{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: #001E5C;
	font-weight : bold;
	}
	.topTextWhite{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: #ffffff;
	font-weight : bold;
	}
	.pageHead{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: #a5b600;
	font-weight : bold;
	}
	.action{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: #333333;
	font-weight : bold;
	}
	.nav1{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: #333333;
	font-weight : bold;
	}
	.searchBox{
	max-height : 20px;
	}
	.login{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: #333333;
	}
	.nav3{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: #666666;
	font-weight : bold;
	}
	.footer{
	color: #ffffff;
	}







	/*Links*/


	A {
	color:#424800;
	text-decoration:none;
	font-size: 11px;
	font-family:Arial;
	}


	A:hover {
	color:#666666;
	text-decoration:underline;
	font-size:11px;
	font-family:Arial;
	} 


	A:visited {
	color:DarkGreen;
	text-decoration:none;
	font-size:11px;
	font-family:Arial;
	} 

	A.whitesmall {
	color:yellow;
	text-decoration:none;
	font-size: 10px;
	font-family:Arial;
	}

	A.whitesmall:visited {
	color:DarkGreen;
	text-decoration:none;
	font-size: 10px;
	font-family:Arial;
	} 

	A.whitesmall:hover {
	color:yellow;
	text-decoration:underline;
	font-size: 10px;
	font-family:Arial;
   	}

	A.action {
	color:#c60042;
	text-decoration:none;
	font-size: 11px;
	font-family:Arial;
	font-weight : bold;
	}

	A.action:visited {
	color:#c60042;
	text-decoration:none;
	font-size:11px;
	font-family:Arial;
	font-weight : bold;
	} 
	A.action:hover {
	color: #000000;
	font-size:11px;
	font-family:Arial;
	text-decoration:underline;
	font-weight : bold;
	}
	A.nav {
	color: #001e5c;
	font-size: 11px;
	font-family: Arial;
	}
	A.nav:visited {
	color: #001e5c;
	font-size: 11px;
	font-family: Arial;
	} 
	A.nav:hover {
	color: c60042;
	text-decoration: underline;
	font-size: 11px;
	font-family: Arial;
	}	
	A.black {
	color:#000000;
	text-decoration:none;
	font-size: 10px;
	font-family:Arial;
	font-weight : bold;
	}
	A.black:visited {
	color:#000000;
	text-decoration:none;
	font-size:10px;
	font-family:Arial;
	font-weight : bold;
	} 
	A.black:hover {
	color: #000000;
	font-size:10px;
	font-family:Arial;
	text-decoration:underline;
	font-weight : bold;
   	}
 
   	A.linkcontent {
	color:#000000;
	text-decoration:none;
	font-size: 11px;
	font-family:Arial;
	font-weight : bold;
	}

	A.linkcontent:visited {
	color:#000000;
	text-decoration:none;
	font-size:11px;
	font-family:Arial;
	font-weight : bold;
	} 

	A.linkcontent:hover {
	color: #001e5c;
	font-size:11px;
	font-family:Arial;
	text-decoration:underline;
	font-weight : bold;
   	}
	
	A.obsmall {
	color:#8A002D;
	text-decoration:none;
	font-size: 10px;
	font-family:Arial;
	}

	A.obsmall:visited {
	color:#8A002D;
	text-decoration:none;
	font-size:10px;
	font-family:Arial;
	} 

	A.obsmall:hover {
	color: #000000;
	font-size:10px;
	font-family:Arial;
	text-decoration:underline;
   	}
   
	A.small {
	color:#666666;
	text-decoration:none;
	font-size: 11px;
	font-family:Arial;
	}

	A.small:visited {
	color:#666666;
	text-decoration:none;
	font-size:10px;
	font-family:Arial;
	} 

	A.small:hover {
	color: #c60042;
	font-size:10px;
	font-family:Arial;
	text-decoration:underline;
   	}
   
	A.white {
	color:#FFFFFF;
	text-decoration:underline;
	font-size: 11px;
	font-family:Arial;
	}

	A.white:visited {
	color:#FFFFFF;
	text-decoration:underline;
	font-size: 11px;
	font-family:Arial;
	} 

	A.white:hover {
	color:#FFFFFF;
	text-decoration:underline;
	font-size: 12px;
	font-family:Arial;
   	}
	A.footer {
	color:#FFFFFF;
	text-decoration:none;
	font-size: 11px;
	font-family:Arial;
	}

	A.footer:visited {
	color:#FFFFFF;
	text-decoration:none;
	font-size: 11px;
	font-family:Arial;
	} 

	A.footer:hover {
	color:#FFFFFF;
	text-decoration:underline;
	font-size: 11px;
	font-family:Arial;
   	}
	/*large font homepage blurb*/
	A.blurbheaderlink{
	color : #301f65;
	text-decoration:underline;
	font-size : 12px;
	font-family : Arial;
	font-weight : bold;
	}
	A.blurbheaderlink:hover {
	font-family : Arial;
	text-decoration:underline;
	font-size : 12px;
	font-weight : bold;
	color : #8A002D;
	}
	A.blurbheaderlink:visited {
	font-family : Arial;
	text-decoration:underline;
	font-size : 12px;
	font-weight : bold;
	color : Indigo;
	}















 
  	.menutitle {
        cursor:pointer;
        margin-bottom: 2px;
        background-color:#ffffff;
        color:#000000;
        width:160px;
        padding:2px;
        text-align:left;
        font-weight:bold;
        /*/*/border:0px solid #000000;/* */
        }
			   
   	.menutitle2 {
        cursor:pointer;
        margin-bottom: 2px;
        background-color:#ffffff;
        color:#000000;
        width:160px;
        padding:2px;
        text-align:left;
        font-weight:bold;
        /*/*/border:0px solid #000000;/* */
        }

	.submenutitle {
        cursor:pointer;
        margin-bottom: 2px;
        background-color:#ffffff;
        color:#000000;
        width:160px;
        padding:2px;
        text-align:left
        font-weight:bold;
        /*/*/border:0px solid #000000;/* */
        }
	.submenu {
        margin-bottom: 0.5em;
	padding:2px;
        }
	.submenu2{
        margin-bottom: 0.5em;
	padding:2px;
        }
	.home_desc {
	font-family: Arial;
	font-size: 14px;
	font-style: normal;
	line-height: 20px;
	font-weight: bold;
	color: #333333;
	}
	A.obrecomm {
	color:#000000;
	text-decoration:underline;
	font-size: 11px;
	font-family:Arial;
	}
	A.obrecomm:visited {
	color:#000000;
	text-decoration:underline;
	font-size: 11px;
	font-family:Arial;
	} 
	A.obrecomm:hover {
	color:000000;
	text-decoration:underline;
	font-size: 12px;
	font-family:Arial;
   	}
	.obRecommHead{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: #8A002D;
	font-weight : bold;
	}
	.obRecommHeadBlue{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: #301f65;
	font-weight : bold;
	}
	body, td  { 
	font-family: verdana, arial, helvetica, sans-serif;
  	font-size: 11px;
  	color: #333333 
	}
	h1	{ 
	font-size:16px; 
	}	
	h2	{ 
	font-size:14px 
	}	

	/* layer links */
	td.navs a { line-height:1.6 }

	/* for newer browsers */
	@media screen {
	h1, h2, p { 
	margin: 0 0 .4em 0 
	}

 	table.main { 
	background-color:#f0f0f0; 
	border:1px solid #999; 
	}
	}

	/* for scrolling layers  
	 Specify width and height in hold and wn, and in clip for wn */
	#hold	{ 
	position:relative; 
	overflow:hidden;
	width:485px; 
	height:360px; z-index:100; 
	}
	#wn	{
	position:absolute;
	left:0px;
	top:0px;
	width:485px;
	height:360px;
	clip:rect (0px, 485px, 360px, 0px);
	overflow:hidden;
	z-index:1;
	}
	#lyr1, #lyr2, #lyr3, #lyr4, #lyr5{
	position:absolute;
	left:0px;
	top:0px;
	z-index:1;
	visibility: hidden;
	}
	
	/* font spec's for layer content (ns4 doesn't inherit) */	
	.content	{ 
	font-family: verdana, arial, helvetica, sans-serif;
  	font-size: 11px; }

	#ad1, #ad2 { position:relative; z-index:20 }
	/* class for banner (see initBanner function) */
	.b1 { 
	font-family: arial;
  	font-size: 11px; color:#333333; 
	}
	.b1 a:link, .b1 a:visited { color:#333333 }
	
	
